# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info

# Testing
.pytest_cache
.coverage

# IDE
.vscode
.idea

# Documentation
*.md
!README.md

# Data files (don't include in Docker image)
src/data/raw/*
src/data/processed/*
notebooks/

# Environment files
.env
*.env
!.env.example

# Infra files (don't need these inside the container)
infra/
